*.gem
*.pdf
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

application.yml
database.yml
email.yml
lib/brokerage_tools/msirecord/msi_record_output_layout_v2.1.doc
test_data

